/* Message.css */

.message-container {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.my-message {
  align-self: flex-end;
  text-align: left;
  padding-left: 10px;
  .time{
    text-align: right;
  }
}

.other-message {
  align-self: flex-start;
  text-align: left;
  .time{
    text-align: left;
  }
}

.message-content {
  position: relative;
  align-items: left;
  padding: 7px;
  border-radius: 15px; /* Increase border-radius for rounded corners */
  max-width: 250px;
  word-wrap: break-word;
  margin: 5px; /* Add margin to create spacing between messages */
}

.time {
  font-size: small;
  font-weight: 500;
  padding: 5px;
  color: rgb(87, 85, 85);
  
}

.my-message .message-content {
  background-color: rgba(91, 61, 134, 0.8);
  color: white;
  /* Make my messages shorter and more transparent */
  max-width: 200px;
  /* opacity: 0.8; Adjust the opacity as needed (0.8 for 80% opacity) */
}

.other-message .message-content {
  background-color: rgba(226, 226, 226, 0.77);
  color: #000000;
  /* Make other messages shorter and more transparent */
  max-width: 200px;
}
